/* --- ESTILOS GENERALES --- */
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #333;
        padding: 5px;
        text-align: left;
        vertical-align: top;
    }
    th {
        background-color: #284862;
        color: white;
        font-weight: bold;
    }
    .check-col {
        width: 40px;
        text-align: center;
    }
    .section-title {
        background-color: #284862;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 8px;
        border: 1px solid #333;
        margin-top: 15px;
    }
    .no-border, .no-border td {
        border: 1px solid #333;
    }

    /* --- ESTILOS DEL ENCABEZADO --- */
    .header-table {
        border: 1px solid #333;
    }
    .header-logo-cell {
        width: 10%;
        border-right: 1px solid #333;
        text-align: center;
        vertical-align: middle;
    }
    .header-logo {
    max-width: 260px;
    max-height: 200px;
    height: auto;
    width: auto;
    }
    .header-title-cell {
        width: 45%;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-size: 12pt;
        padding: 10px;
        border-right: 1px solid #333;
    }
    .header-info-cell {
        width: 30%;
        padding: 0;
    }
    .header-info-table {
        height: 100%;
    }
    .header-info-table td {
        border-bottom: 1px solid #333;
    }
    .header-info-table tr:last-child td {
        border-bottom: none; /* Remove border from the last cell */
    }

    /* --- ESTILOS DE TABLAS DE INFORMACIÓN --- */
    .info-table {
        margin-top: 10px;
    }
    .info-table td {
        width: 25%;
    }

    /* --- ESTILOS DE SECCIONES FINALES --- */
    .observations-box {
        border: 1px solid #333;
        padding: 8px;
        min-height: 80px;
    }
    .signatures-table {
        margin-top: 80px;
    }
    .signature-cell {
        width: 50%;
    }
    .signature-cell-left {
        padding-right: 25px;
    }
    .signature-cell-right {
        padding-left: 25px;
    }
    .signature-box {
        padding-top: 50px;
        border-top: 1px solid #333;
        text-align: center;
    }